acao_sql_server:
  adapter: sqlserver
  appname: <%= "core_#{Process.pid}" %>
  host: onda.acao.it
  port: 1433
  database: acao_pro
  username: lino
  password: <%= Rails.application.credentials.ondadb_password %>

acao_onda:
  adapter: sqlserver
  appname: <%= "core_#{Process.pid}" %>
  host: onda.acao.it
  port: 1433
  database: acao
  username: lino
  password: <%= Rails.application.credentials.ondadb_password %>

acao_for_wp:
  adapter: postgresql
  encoding: unicode
  database: acao_for_wp
  username:
  password:

production:
  adapter: postgresql
  encoding: unicode
  database: acao
  username:
  password:
  pool: 30

development:
  adapter: postgresql
  encoding: unicode
  database: acao_dev
  username:
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: acao_test
  username:
  password:
