/*
 * Copyright (C) 2016-2017, Daniele Orlandi
 *
 * Author:: Daniele Orlandi <daniele@orlandi.com>
 *
 * License:: You can redistribute it and/or modify it under the terms of the LICENSE file.
 *
 */

Ext.define('Extgui.Ygg.Acao.Meter', {
  extend: 'Extgui.object.Base',
  requires: [
    'Extgui.Ygg.Acao.Plugin',
    'Ygg.Acao.Meter',
  ],
  singleton: true,

  humanIdField: 'name',
  //scalableIcon: '<%=image_path '' %>',

//  subTpl: [
//    '<span class="name">{name}</span> issued by {issuer_cn}<br />{valid_from:date} ⇨ {valid_to:date}',
//  ],
});
