/*
 * Copyright (C) 2016-2017, Daniele Orlandi
 *
 * Author:: Daniele Orlandi <daniele@orlandi.com>
 *
 * License:: You can redistribute it and/or modify it under the terms of the LICENSE file.
 *
 */

Ext.define('Extgui.Ygg.Acao.TimetableEntry', {
  extend: 'Extgui.object.Base',
  requires: [
    'Extgui.Ygg.Acao.Plugin',
    'Ygg.Acao.TimetableEntry',
  ],
  singleton: true,

//  subTpl: [
//    '<span class="name">{}</span><br />{}',
//  ],
});
